{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form">
  <h2>Login</h2>
  {% if message %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Login">
    </div>
    <small class="form-text">Don't have an account? <a href="{% url 'register' %}">Register</a></small>
  </form>
</div>
  
{% endblock %}