{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
	<h1 id="welcome-text">Hello, {{ user.first_name }}!</h1>
	<a href="{% url 'logout' %}"><button class="btn btn-danger">Logout</button></a>
{% endblock %}